---
import Likes from "./Likes.astro";

interface Props {
    id: number;
    videoId: string;
    background: string;
    phrase: string;
    characters: { name: string; image: string | null }[];
    lang?: "en" | "es";
}

const {
    id,
    videoId,
    background,
    phrase,
    characters,
    lang = "en",
} = Astro.props;

const labels = {
    en: {
        views: "views",
        likes: "likes",
        play: "Watch Trailer",
    },
    es: {
        views: "vistas",
        likes: "me gusta",
        play: "Ver Trailer",
    },
};

const t = labels[lang];
const pathName = Astro.url.pathname;
---

<section
    class="relative w-full h-screen flex"
    id={`trailer-${id}`}
    data-trailer-section
    data-video-id={videoId}
    data-trailer-id={id}
>
    <div class="absolute inset-0 z-0">
        <img
            src={`/backgrounds/${background}`}
            alt={`Trailer ${id} Background`}
            class="w-full h-full object-cover"
        />
        <div class="absolute bottom-0 right-0 left-0 h-12 bg-[#080D0B]"></div>
    </div>

    <div
        class="absolute bottom-12 flex flex-row justify-between bg-linear-to-t/hsl from-[#080D08] to-transparent h-[calc(60%)] z-10 w-full p-16"
    >
        <div class="flex flex-col justify-between">
            <div class="flex flex-col text-text font-bold gap-3">
                <a
                    href={`${pathName}#trailer-${id}`}
                    class="text-7xl hover:underline"
                >
                    TRAILER {id}
                </a>

                <h3 class="text-lg flex flex-row gap-4 font-semibold">
                    <span>Marvel Studios</span>
                    <span>·</span>
                    <span><Likes server:defer videoId={videoId} /> 👍</span>
                    <span>·</span>
                    <span>23 dic 2025</span>
                </h3>
            </div>

            <a
                href={`https://www.youtube.com/watch?v=${videoId}`}
                rel="noopener noreferrer"
                target="_blank"
                class="flex flex-row gap-4 p-4 rounded-xl w-fit bg-[#2A5FD2] text-text font-semibold text-lg justify-center items-center"
            >
                <img
                    src="/icons/play.svg"
                    alt="Play"
                    class="w-5 h-5 text-text"
                />
                <span>{t.play}</span>
            </a>
        </div>

        <div class="flex flex-col gap-4 items-end">
            <div class="bg-[#080D0B] p-4 rounded-xl">{phrase}</div>
            <div
                class="flex flex-col bg-[#080D0B] p-4 rounded-xl gap-4 text-text font-semibold w-fit h-fit max-h-full overflow-y-auto"
            >
                <h3>Personajes involucrados:</h3>
                {
                    characters.map((char) => (
                        <div class="flex flex-row items-center text-text gap-3 font-light">
                            {char.image ? (
                                <img
                                    src={`/characters/${char.image}`}
                                    alt={char.name}
                                    class="w-8 h-auto"
                                />
                            ) : (
                                <div class="w-8 h-8 bg-black/40 rounded-full flex justify-center items-center">
                                    ?
                                </div>
                            )}

                            <span>{char.name}</span>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
